#Ignorar arquivos de Cache do servidor#
*.cache
log/development.log
log/*.log

#Git ignore do projeto de rebeca
# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
log/
tmp/*.cache
tmp/
/tmp
/tmp/*

.DS_Store
db/.DS_Store
